@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Titillium+Web&display=swap");

body {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left-container {
  display: inline-block;
  width: 40%;
  /* background-color: aqua; */
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
  /* float: left; */
}
.intro {
  width: 60%;
  float: right;
  /* margin-left: 70px; */
}

span {
  /* font-size: 72px; */
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects{
    margin-top: 30px;
    font-size: large;
}

.Blogs{
    margin-top: 40px;
}

form{
    width: 40vw;
    margin-left: 440px;
    line-height: 30px;
}
.feedback{
    margin-top: 40px;
}